<div class="header-background d-flex">
  
    <MudGrid Class="my-auto d-flex">
        <MudItem xs="12">
            <MudText Typo="Typo.h1">I am @Model.Name.</MudText>
        </MudItem>

        <MudItem xs ="12" md="7" Class="mx-auto">
            <MudText Typo="Typo.body1">@Model.Description</MudText>
        </MudItem>

        <MudItem xs="10" sm="7" md="6" Class="d-flex mx-auto mt-4">
            <MudDivider Class="mx-auto"></MudDivider>
        </MudItem>

        <MudItem xs="12" Class="mt-4">
                <div class="d-flex flex-row justify-content-center">
                    <a href="@Model.Linkedin"><MudIcon Class="mx-4" Icon="@Icons.Custom.Brands.LinkedIn" Title="GitHub" Size="Size.Large" Style="color: white;" /></a>
                    <a href="@Model.GitHub"><MudIcon Class="mx-4" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Size="Size.Large" Style="color: white;" /></a>
            </div>

        </MudItem>
    </MudGrid>
    
</div>


<style>
    .header-background
    {
        position: relative;
        height: 800px;
        min-height: 500px;
        width: 100%;
        background: #161415 url("/images/background.jpg") no-repeat top center;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        text-align: center;
        overflow: hidden;
    }
</style>